<% if current_user.visions.any? %>

	<%= form_for :vision, url: '/visions', html: {id: "new-vision-form"}, authenticity_token: true, method: 'post' do |f| %>
			<p>So you want to update your vision. Re-evaluation is important. Maybe you want to build your vision in a different timeframe. Maybe you want to rephrase your vision. That's comepletely understandable.</p>
			<p>However, let's try to keep the same spirit of your vision. Let's take some time to think about how you want to phrase your vision this time around.</p>
			<p>in <%= text_field_tag :timeframe, current_user.current_vision_time_frame_in_years_from_now, autofocus: true %> years time</p>

			<p><%= text_area_tag :statement, current_user.current_vision_statement, size: '70x15' %></p>
		<%= f.submit %>
	<% end %>

<% else %>

	<%= form_for :vision, url: '/visions', html: {id: "new-vision-form"}, method: 'post' do |f| %>
		<div class="vision-prompts">
			<p class="vision-prompt" id="prompt-1"><b>Now let's take this time to think of your long-term vision...</b></p>
			<p class="vision-prompt" id="prompt-2"><b>What do you see for yourself in the future?</b></p>
			<p class="vision-prompt" id="prompt-3"><b>How do you want to feel?</b></p>
			<p class="vision-prompt" id="prompt-4"><b>When do you expect to find yourself achieving your vision?</b></p>
			<p class="vision-prompt" id="prompt-5"><b>In the simplest terms, state your vision. For example: "I'm living in a cottage next to a small lake in Wisconsin."</b></p>
			<p class="vision-prompt" id="prompt-6"><b>Be as detailed or as minimal as you want to be.</b></p>
			<p class="vision-prompt" id="prompt-7"><b>Don't worry if you can't find the right words yet. You can always update your vision.</b></p>
		</div>

		<h3 class=>Where do you envision your life in <%= text_field_tag :timeframe, nil, autofocus: true %> years?</h3>
		<div class="vision-input">
			<%= text_area_tag :statement, nil, size: '70x15' %><br>
			<span class="vision-button"><%= f.submit %></span>
		</div>
	<% end %>

<% end %>