<div class="page-wrapper">

<% if current_user.visions.length > 1 %>

	<%= form_for :vision, url: '/visions', html: {id: "new-vision-form"}, authenticity_token: true, method: 'post' do |f| %>
			<p>So you want to update your vision. Re-evaluation is important. Maybe you want to build your vision in a different timeframe. Maybe you want to rephrase your vision. That's comepletely understandable.</p> 
			<p>However, let's try to keep the same spirit of your vision. Let's take some time to think about how you want to phrase your vision this time around.</p>
			<p>in <%= f.text_field :timeframe, value: current_user.current_vision_time_frame_in_years_from_now %> years time</p>

			<p><%= f.text_area :statement, value: current_user.current_vision_statement %></p>
		<%= f.submit %>

	<% end %>

<% else %>

	<%= render partial: 'visions/new_vision_form' %>

<% end %>
</div>