<h3>Results for your <%= "'#{@search}'" %> search:</h3>

<div class="found-users">
  <% @found_users.each do |user|  %>
    <div class="user">
      <% if user.profile_pic_updated_at != nil %>
        <%= image_tag user.profile_pic(:thumb), class: "profile-pic" %>
      <% end %>
      <p><%= link_to "#{user.full_name}", user_path(user.id) %> (<%= link_to "#{'@' + user.username}", user_path(user.id) %>)</p>
      <% if user.goals.any? %>
        <p>Recent Goal: <%= user.goals.last.content %></p>
        <p class="progress-italic">Goal Progress:</p>
        <div class="progress-bar-outer" style="width: 90%">
          <div class="progress-bar-inner" style="width:<%= user.goals.last.progress %>%"></div>
        </div>
      <% end %>
      <% unless current_user == user || current_user.request_made?(user) %>
        <%= link_to "Add #{user.given_name} to Squad", new_user_connection_path(user.id) %>
      <% end %>
    </div>
  <% end %>
</div>
