<div class="page-wrapper">

<h3 class="sign-up-header">Sign-up</h3>

<%= form_for @user, url: { action: "create" }, html: { id: "user-registration-form", class: "sign-up-form" }, remote: true, authenticity_token: true do |f| %>
    <%= f.label "Profile Pic" %><br>
    <%= f.file_field :profile_pic %><br>

    <%= f.label "Given Name" %><br>
    <%= f.text_field :given_name %><br>

    <%= f.label "Family Name" %><br>
    <%= f.text_field :family_name%><br>

    <%= f.label "Username" %><br>
    <%= f.text_field :username %><br>

    <%= f.label "E-mail" %><br>
    <%= f.email_field :email %><br>

    <%= f.label "Password" %><br>
    <%= f.password_field :password %><br>

    <%= f.label "Confirm Password" %><br>
    <%= f.password_field :password_confirmation %><br>

    <%= f.submit "Sign-up" %>
<% end %>
