<div class="page-wraper">

  <% if @user.id == current_user.id %>
    <h3>Hello <%= @user.given_name %></h3>
  <% else %>
    <h3><%= @user.full_name %></h3>
  <% end %>

  <%= image_tag @user.profile_pic.url %>

  <% unless current_user == @user || current_user.request_made?(@user) %>
    <%= link_to "Add #{@user.given_name} to Squad", new_user_connection_path(@user.id) %>
  <% end %>

  <ul class="tabs">
        <li class="active"><a href="#vision-goals"></a><%= @user.username %></li>
        <li><a href="#squad">Squad</a></li>
    </ul>


  <div class="tab-content" id="vision-goals">
    <div class="user-vision">
      <h3>Your Vision:</h3>
      <% if @user.visions.any? %>
        <p>In <%= @user.visions.last.timeframe.year - DateTime.now.year %> years</p>
        <p><%= @user.visions.last.statement %></p>
        <p><%= link_to "Update Vision", new_vision_path %></p>
        <p><%= link_to "Vision History", visions_path %>
      <% else %>
        <%= link_to "Create new vision", new_vision_path %>
      <% end %>
    </div>

    <div class="user-goals-div">
      <h3>Your Goals</h3>
      <ul class="user-goals-ul">
        <% @user.goals.each do |goal| %>
          <%= render partial: 'goal', locals: {goal: goal} %>

          <%= link_to "Edit", edit_goal_path(goal.id) %>
        <%end %>
      </ul>
    </div>

    <div class="create-new-goal">
      <%= link_to 'New Goal', new_goal_path %>
    </div>

    <div class="connect-calendar-link">
      <%= link_to "Connect Your Goals To Your Calendar", "https://app.cronofy.com/oauth/authorize?response_type=code&client_id=Wj0KpQ2hZIKAxpn8K6oX70M-Ghwnwj6N&redirect_uri=https://squadgoals.herokuapp.com/&scope=create_event" %>
    </div>
  </div>



  <div class="tab-content" id="squad">
    <h3>Your Squad</h3>
    <ul class="champ-ul">
      <%= render partial: 'connections/squad_connections', collection: @user.accepted_squad %>
    </ul>
  </div>

</div>