<div class="page-wrapper">
	<h3><%= @project.name %></h3>

	<p><%= @project.description %></p>

	<% if @project.collaborators.include?(current_user) %>
		<%= link_to "edit info", edit_project_path(@project.id) %>
	<% end %>

	<p>Collaborators:</p>
	<ul>
		<%= render partial: 'projects/collaborator', collection: @project.collaborators %>
	</ul>

	<p>Objectives:</p>
	<ul>
		<%= render @project.project_objectives %>
	</ul>
</div>