<div class="page-wrapper">
	<h3>How do you want to acheive this?</h3>
	<%= form_for :goal, url: '/goals', method: 'post' do |f| %>
		<p><%= f.radio_button :category_id, '1' %>
		<%= label_tag(:personal, "Personal") %></p>
		<p><%= f.radio_button :category_id, '2' %>
		<%= label_tag(:career, "Career") %></p>
		<p><%= f.radio_button :category_id, '3' %>
		<%= label_tag(:health, "Health") %></p>

		<p><%= f.text_area :content %></p>
		<p><%= check_box_tag(:private) %>
		<%= label_tag(:private, "Make this a private goal?") %></p>

		<p><%= label_tag(:tags, "Tags") %>
		<%= f.text_field :tags %></p>

		<%= f.submit %>
	<% end %>
</div>