<!-- <div class="page-wraper">
  <h2>Goal</h2>
  <%= @goal.content %>
  <p>Steps to your goal:</p>
  <ul>
    <% @goal.sub_goals.each do |sub_goal| %>

      <li><%= check_box_tag 'completed', sub_goal.id, sub_goal.completed,
      data: {
        remote: true,
        url: url_for(action: :update, id: sub_goal.id),
        method: "PUT"
      } %>  <%= sub_goal.content %></li>
    <% end %>
  </ul>
  <div class="create-new-sub-goal">
  <%= link_to 'Add a Sub-Goal', new_goal_sub_goal_path(@goal) %>

  </div>
  <%= render @goal.tags %>
</div> -->