<div class="page-wraper">
  <h2>Goal</h2>
  <%= @goal.content %>
  <p>Steps to your goal:</p>
  <ul>
    <div id="sub-goals-list">
      <li><%= render @goal.sub_goals.order("created_at"), locals: { goal: @goal }, remote: true %></li>
    </div>
  </ul>
  <div class="create-new-sub-goal">
  <%= link_to 'New Sub-Goal', new_goal_sub_goal_path(@goal), id: "new_sub_goal_link", remote: true %>

  </div>

  <div class="progress-bar-outer">
    <div class="progress-bar-inner" style="width:<%= @progress %>%"></div>
  </div>

  <%= render @goal.tags %>
</div>