<!DOCTYPE html>
<html>
  <head>
    <title>HashtagSquadgoals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul>
      <%= link_to "About", about_path %>
      <% if user_signed_in? %>
        <div class="">
            <li class="user-name-link"><%= link_to "#{current_user.given_name}", "/users/#{current_user.id}" %></li>

        </div>

        <li  class="user category"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% end %>
      <% if !user_signed_in? %>
        <li class="user"><%= link_to 'Login', '/users/sign_in' %></li>
        <li class="user"><%= link_to 'Signup', '/users/sign_up' %></li>
      <% end %>
    </ul>
    <div class="search-form">
      <%= form_tag(users_path, method: "get") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search users" %>
        <%= submit_tag "Search", name: nil %>
      <% end %>

    </div>

    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
